<% @songs.each do |song| %>
	<ul>
		<!-- <li> -->
	  		<strong>Song:</strong> <%= song.title %>
	  		<strong>Album:</strong> <%= song.album %> 
	  		<strong>Artist:</strong> <%= song.artist %>
		<!-- </li> -->
	</ul>
<% end %>