<div class="container">
  <h2>Songs</h2>
  <%= will_paginate @songs, renderer: BootstrapPagination::Rails %> 
  <table class="table">
    <thead>
      <tr>
        <th>Song Title</th>
        <th>Album</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
			<tr>
	  		<td><%= song.title %></td>
	  		<td><%= song.album %> </td>
	  		<td><%= song.artist %></td>
			</tr>
		<% end %>
    </tbody>
  </table>
</div>
